[package]
name = "short-hex-str"
version = "0.1.0"
authors = ["Diem Association <opensource@diem.com>"]
description = "Diem implementation for retries of operations"
repository = "https://github.com/diem/diem"
homepage = "https://diem.com"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
sgx_tstd = { git = "https://github.com/apache/teaclave-sgx-sdk.git", rev = "v1.1.3", optional = true }
# mirai-annotations = "1.10.1" # TODO: Doesn't support SGX
serde = { git = "https://github.com/mesalock-linux/serde-sgx.git", default-features = false }
thiserror = { git = "https://github.com/mesalock-linux/thiserror-sgx.git" }

[dev-dependencies]
hex = "0.4.2"
proptest = "0.10.1"

[features]
default = ["std", "mesalock_sgx"]
std = ["mesalock_sgx"]
mesalock_sgx = ["sgx_tstd"]
