**/target/
**/*.rs.bk
*.swp
**/._*
**/.criterion/
.vscode
polkadot.*
.DS_Store
nohup.out
rls*.log
*.orig
*.rej
**/wip/*.stderr
*.pyc
*.swo
*.bk
*~

# Visual Studio Junk
.vs/
*.opensdf
*.psess
*.sdf
*.sln.docstates
*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb
*.vsp
*.vspx
*.rsproj
*.sln
*.vcxproj
*.filters

# JetBrains Junk
.idea
*.iml
CMakeLists.txt

# Substrate
.wasm-binaries
