[workspace]

exclude = [
	"substrate",
	"subxt",
	"webpki",
	"ring",
	"native-nostd-hasher",
	"standalone/pruntime",
]

members = [
	"common/types",
	"standalone/executor",
	"standalone/rpc",
    "standalone/node",
	"standalone/runtime",
	"standalone/pherry",
	"crates/trie-storage",
	"crates/phala-mq",
	"crates/crypto",
	"crates/prpc",
	"crates/prpc-build",
	"pallets/phala",
	"pallets/bridge",
	"scripts/toml-upgrade-version",
	"scripts/debug-cli"
]

resolver = "2"
