[package]
name = "phala-node-runtime"
version = "2.0.0"
authors = ["Phala Network"]
edition = "2018"
build = "build.rs"
license = "Apache-2.0"
homepage = "https://phala.network/"
repository = "https://github.com/Phala-Network/phala-blockchain"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]

# third-party dependencies
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
integer-sqrt = { version = "0.1.2" }
serde = { version = "1.0.102", optional = true }
static_assertions = "1.1.0"
hex-literal = { version = "0.3.1", optional = true }

# primitives
sp-authority-discovery = { version = "2.0.0", default-features = false, path = "../substrate/primitives/authority-discovery" }
sp-consensus-babe = { version = "0.8.0", default-features = false, path = "../substrate/primitives/consensus/babe" }
sp-block-builder = { version = "2.0.0", default-features = false, path = "../substrate/primitives/block-builder" }
sp-inherents = { version = "2.0.0", default-features = false, path = "../substrate/primitives/inherents" }
node-primitives = { version = "2.0.0", default-features = false, path = "../substrate/bin/node/primitives" }
sp-offchain = { version = "2.0.0", default-features = false, path = "../substrate/primitives/offchain" }
sp-core = { version = "2.0.0", default-features = false, path = "../substrate/primitives/core" }
sp-std = { version = "2.0.0", default-features = false, path = "../substrate/primitives/std" }
sp-api = { version = "2.0.0", default-features = false, path = "../substrate/primitives/api" }
sp-runtime = { version = "2.0.0", default-features = false, path = "../substrate/primitives/runtime" }
sp-staking = { version = "2.0.0", default-features = false, path = "../substrate/primitives/staking" }
sp-keyring = { version = "2.0.0", optional = true, path = "../substrate/primitives/keyring" }
sp-session = { version = "2.0.0", default-features = false, path = "../substrate/primitives/session" }
sp-transaction-pool = { version = "2.0.0", default-features = false, path = "../substrate/primitives/transaction-pool" }
sp-version = { version = "2.0.0", default-features = false, path = "../substrate/primitives/version" }

# frame dependencies
frame-executive = { version = "2.0.0", default-features = false, path = "../substrate/frame/executive" }
frame-benchmarking = { version = "2.0.0", default-features = false, path = "../substrate/frame/benchmarking", optional = true }
frame-support = { version = "2.0.0", default-features = false, path = "../substrate/frame/support" }
frame-system = { version = "2.0.0", default-features = false, path = "../substrate/frame/system" }
frame-system-benchmarking = { version = "2.0.0", default-features = false, path = "../substrate/frame/system/benchmarking", optional = true }
frame-system-rpc-runtime-api = { version = "2.0.0", default-features = false, path = "../substrate/frame/system/rpc/runtime-api/" }
pallet-authority-discovery = { version = "2.0.0", default-features = false, path = "../substrate/frame/authority-discovery" }
pallet-authorship = { version = "2.0.0", default-features = false, path = "../substrate/frame/authorship" }
pallet-babe = { version = "2.0.0", default-features = false, path = "../substrate/frame/babe" }
pallet-balances = { version = "2.0.0", default-features = false, path = "../substrate/frame/balances" }
pallet-collective = { version = "2.0.0", default-features = false, path = "../substrate/frame/collective" }
pallet-contracts = { version = "2.0.0", default-features = false, path = "../substrate/frame/contracts" }
pallet-contracts-primitives = { version = "2.0.0", default-features = false, path = "../substrate/frame/contracts/common/" }
pallet-contracts-rpc-runtime-api = { version = "0.8.0", default-features = false, path = "../substrate/frame/contracts/rpc/runtime-api/" }
pallet-democracy = { version = "2.0.0", default-features = false, path = "../substrate/frame/democracy" }
pallet-elections-phragmen = { version = "2.0.0", default-features = false, path = "../substrate/frame/elections-phragmen" }
pallet-finality-tracker = { version = "2.0.0", default-features = false, path = "../substrate/frame/finality-tracker" }
pallet-grandpa = { version = "2.0.0", default-features = false, path = "../substrate/frame/grandpa" }
pallet-im-online = { version = "2.0.0", default-features = false, path = "../substrate/frame/im-online" }
pallet-indices = { version = "2.0.0", default-features = false, path = "../substrate/frame/indices" }
pallet-identity = { version = "2.0.0", default-features = false, path = "../substrate/frame/identity" }
pallet-membership = { version = "2.0.0", default-features = false, path = "../substrate/frame/membership" }
pallet-multisig = { version = "2.0.0", default-features = false, path = "../substrate/frame/multisig" }
pallet-offences = { version = "2.0.0", default-features = false, path = "../substrate/frame/offences" }
pallet-offences-benchmarking = { version = "2.0.0", path = "../substrate/frame/offences/benchmarking", default-features = false, optional = true }
pallet-proxy = { version = "2.0.0", default-features = false, path = "../substrate/frame/proxy" }
pallet-randomness-collective-flip = { version = "2.0.0", default-features = false, path = "../substrate/frame/randomness-collective-flip" }
pallet-recovery = { version = "2.0.0", default-features = false, path = "../substrate/frame/recovery" }
pallet-session = { version = "2.0.0", features = ["historical"], path = "../substrate/frame/session", default-features = false }
pallet-session-benchmarking = { version = "2.0.0", path = "../substrate/frame/session/benchmarking", default-features = false, optional = true }
# pallet-staking = { version = "2.0.0", default-features = false, path = "../substrate/frame/staking" }
pallet-staking-reward-curve = { version = "2.0.0", default-features = false, path = "../substrate/frame/staking/reward-curve" }
pallet-scheduler = { version = "2.0.0", default-features = false, path = "../substrate/frame/scheduler" }
pallet-society = { version = "2.0.0", default-features = false, path = "../substrate/frame/society" }
pallet-sudo = { version = "2.0.0", default-features = false, path = "../substrate/frame/sudo" }
pallet-timestamp = { version = "2.0.0", default-features = false, path = "../substrate/frame/timestamp" }
pallet-treasury = { version = "2.0.0", default-features = false, path = "../substrate/frame/treasury" }
pallet-utility = { version = "2.0.0", default-features = false, path = "../substrate/frame/utility" }
pallet-transaction-payment = { version = "2.0.0", default-features = false, path = "../substrate/frame/transaction-payment" }
pallet-transaction-payment-rpc-runtime-api = { version = "2.0.0", default-features = false, path = "../substrate/frame/transaction-payment/rpc/runtime-api/" }
pallet-vesting = { version = "2.0.0", default-features = false, path = "../substrate/frame/vesting" }

pallet-staking = { version = "2.0.0", default-features = false, path = "../pallets/staking", package = "phala-staking" }
pallet-phala = { version = "2.0.0", default-features = false, path = "../pallets/phala", package = "pallet-phala" }

native-nostd-hasher = { version = "2.0.0", path = "../native-nostd-hasher", optional = true }

[build-dependencies]
wasm-builder-runner = { version = "2.0.0", package = "substrate-wasm-builder-runner", path = "../substrate/utils/wasm-builder-runner" }

[dev-dependencies]
sp-io = { version = "2.0.0", path = "../substrate/primitives/io" }

[features]
default = ["std", "include-wasm"]
include-wasm = []
native-nostd = ["native-nostd-hasher"]
with-tracing = [ "frame-executive/with-tracing" ]
std = [
	"sp-authority-discovery/std",
	"pallet-authority-discovery/std",
	"pallet-authorship/std",
	"sp-consensus-babe/std",
	"pallet-babe/std",
	"pallet-balances/std",
	"sp-block-builder/std",
	"codec/std",
	"pallet-collective/std",
	"pallet-contracts/std",
	"pallet-contracts-primitives/std",
	"pallet-contracts-rpc-runtime-api/std",
	"pallet-democracy/std",
	"pallet-elections-phragmen/std",
	"frame-executive/std",
	"pallet-finality-tracker/std",
	"pallet-grandpa/std",
	"pallet-im-online/std",
	"pallet-indices/std",
	"sp-inherents/std",
	"pallet-membership/std",
	"pallet-multisig/std",
	"pallet-identity/std",
	"pallet-scheduler/std",
	"node-primitives/std",
	"sp-offchain/std",
	"pallet-offences/std",
	"pallet-proxy/std",
	"sp-core/std",
	"pallet-randomness-collective-flip/std",
	"sp-std/std",
	"serde",
	"pallet-session/std",
	"sp-api/std",
	"sp-runtime/std",
	"sp-staking/std",
	"pallet-staking/std",
	"sp-keyring",
	"sp-session/std",
	"pallet-sudo/std",
	"frame-support/std",
	"frame-benchmarking/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-treasury/std",
	"sp-transaction-pool/std",
	"pallet-utility/std",
	"sp-version/std",
	"pallet-society/std",
	"pallet-recovery/std",
	"pallet-vesting/std",
	"pallet-phala/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"pallet-babe/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"pallet-contracts/runtime-benchmarks",
	"pallet-democracy/runtime-benchmarks",
	"pallet-elections-phragmen/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-identity/runtime-benchmarks",
	"pallet-im-online/runtime-benchmarks",
	"pallet-indices/runtime-benchmarks",
	"pallet-multisig/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"pallet-scheduler/runtime-benchmarks",
	"pallet-society/runtime-benchmarks",
	"pallet-staking/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-treasury/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-vesting/runtime-benchmarks",
	"pallet-offences-benchmarking",
	"pallet-session-benchmarking",
	"frame-system-benchmarking",
	"hex-literal",
]
