[package]
edition = "2021"
name = "pruntime"
version = "2.1.0"

[profile.release]
panic = "abort"

[dependencies]
anyhow = "1.0.69"
clap = { version = "4.0.32", features = ["derive"] }
reqwest = { version = "0.11", default-features = false, features = [
    "rustls-tls",
    "socks",
    "blocking",
] }
reqwest-env-proxy = { path = "../../crates/reqwest-env-proxy" }
libc = "0.2"
num_cpus = "1.13"
version = "3.0.0"

rocket = { version = "0.5.0-rc.3", features = ["json"] }
rocket_cors = { version = "0.6.0-alpha2", git = "https://github.com/lawliet89/rocket_cors" }
serde_json = "1.0"

base64 = "0.13.0"

phala-sanitized-logger = { path = "../../crates/phala-sanitized-logger" }
lazy_static = { version = "1.4.0", default-features = false }
parity-scale-codec = { version = "3.3", default-features = false }
serde = { version = "1.0", default-features = false, features = ["derive"] }
urlencoding = "2.1.0"

phactory = { path = "../../crates/phactory" }
phactory-api = { path = "../../crates/phactory/api", features = ["pruntime-client"] }
phactory-pal = { path = "../../crates/phactory/pal" }
phala-allocator = { path = "../../crates/phala-allocator" }
phala-rocket-middleware = { path = "../../crates/phala-rocket-middleware" }
phala-types = { path = "../../crates/phala-types", features = ["enable_serde", "sgx"] }
phala-git-revision = { path = "../../crates/phala-git-revision" }
phala-clap-parsers = { path = "../../crates/phala-clap-parsers" }
sgx-api-lite = { path = "../../crates/sgx-api-lite" }
tracing = "0.1"
hex_fmt = "0.3.0"

[patch.crates-io]
# TODO.kevin: Move back to crates.io once it released 1.0
derive_more = { version = "0.99.17", git = "https://github.com/JelteF/derive_more" }

# For pink-extension-runtime, it will introduce Substrate from crates-io which usually different with polkadot-branch
sp-core = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.1.0" }
sp-runtime-interface = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.1.0" }
