[package]
authors = ["Phala Network"]
edition = "2021"
name = "phala-pallets"
version = "4.1.0"
license = "Apache 2.0"
homepage = "https://phala.network/"
repository = "https://github.com/Phala-Network/phala-blockchain"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.3", default-features = false, features = ["derive"] }
scale-info = { version = "2.3", default-features = false, features = ["derive"] }

primitive-types = { version = "0.12.1", default-features = false, features = ["codec", "byteorder"] }
pallet-assets = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
pallet-democracy = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
pallet-uniques = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
pallet-preimage = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }

# RMRK dependencies
pallet-rmrk-core = { git = "https://github.com/Phala-Network/rmrk-substrate", branch = "release-polkadot-v1.2.0", default-features = false }
rmrk-traits = { git = "https://github.com/Phala-Network/rmrk-substrate", branch = "release-polkadot-v1.2.0", default-features = false }

frame-support = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
frame-system = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
pallet-insecure-randomness-collective-flip = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
sp-std = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
sp-io = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
sp-application-crypto = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false, optional = true }
log = { version = "0.4.14", default-features = false }

pallet-balances = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }

phala-types = { path = "../../crates/phala-types", default-features = false, features = ["enable_serde"] }
chrono = { version = "0.4.22", default-features = false }
untrusted = { version = "0.9.0" }
base64 = { version = "0.21.3", default-features = false, features = ["alloc"] }
hex = { version = "0.4", default-features = false }
hex-literal = "0.4.1"
serde = { version = "1.0.101", default-features = false, optional = true }
serde_json = { version = "1.0.41", default-features = false, features = ["alloc"] }
fixed = { version = "1.16.1", default-features = false }
fixed-macro = "1.2"
fixed-sqrt = { version = "0.2", default-features = false }

sgx-attestation = { path = "../../crates/sgx-attestation", default-features = false }

[dev-dependencies]
frame-support-test = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0" }
assert_matches = "1.4.0"
pallet-timestamp = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0" }
rand = "0.8.5"
insta = "1"
pallet-scheduler = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }
pallet-collective = { git = "https://github.com/paritytech/polkadot-sdk.git", branch = "release-polkadot-v1.2.0", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-assets/std",
	"pallet-democracy/std",
	"sp-io/std",
	"sp-std/std",
	"sp-core/std",
	"sp-application-crypto/std",
	"frame-support/std",
	"frame-system/std",
	"frame-benchmarking/std",
	"pallet-balances/std",
	"pallet-uniques/std",
	"log/std",
	"phala-types/enable_serde",
	"pallet-rmrk-core/std",
	"rmrk-traits/std",
	"pallet-collective/std",
	"pallet-insecure-randomness-collective-flip/std",
	"pallet-preimage/std",
	"serde/derive",
	"serde/alloc",
	"sgx-attestation/std",
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks"
]
try-runtime = ["frame-support/try-runtime"]
native = [
	"sp-application-crypto/full_crypto",
]
