[workspace]

[package]
edition = "2021"
name = "sidevm-httpclient"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
log = "0.4.16"
once_cell = "1.10.0"
sidevm = { version = "0.1", package = "pink-sidevm", path = "../../sidevm" }
hyper = { version = "0.14.18", features = ["http1", "client"] }
