name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-core-blockchain:
    name: Build core blockchain
    runs-on: ubuntu-20.04
    steps:
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly-2021-05-11
          override: true
          target: wasm32-unknown-unknown
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: ./.github/actions/install_toolchain
        
    - name: Build core blockchain
      run: cargo build --verbose --release
    - name: Save core-blockchain binaries
      uses: actions/upload-artifact@v2
      with:
        name: core-blockchain-binaries
        path: | 
          ./target/release/phala-node
          ./target/release/pherry  
    
  build-pruntime:
    name: Build pruntime
    runs-on: ubuntu-20.04
    steps:
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly-2021-05-11
          override: true
          target: wasm32-unknown-unknown
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: ./.github/actions/install_toolchain
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.4.0
      with:
        node-version: 14.x
    - name: Install yarn 2
      run: sudo npm install -g yarn && yarn set version berry
    
    - name: Build pRuntime
      run: source /opt/intel/sgxsdk/environment && cd ./standalone/pruntime/ && SGX_MODE=SW make
    - name: Save pruntime binaries
      uses: actions/upload-artifact@v2
      with:
        name: pruntime-binaries
        path: | 
          ./standalone/pruntime/bin/app
          ./standalone/pruntime/bin/enclave.signed.so
          ./standalone/pruntime/bin/Rocket.toml
  
  e2e-test:
    name: Run E2E tests
    runs-on: ubuntu-20.04
    steps:
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly-2021-05-11
          override: true
          target: wasm32-unknown-unknown
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: ./.github/actions/install_toolchain
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.4.0
      with:
        node-version: 14.x
    - name: Install yarn 2
      run: sudo npm install -g yarn && yarn set version berry
    
    - name: Remove folders
      run: rm -rf ./target/release/phala-node ./target/release/pherry ./standalone/pruntime/bin/app ./standalone/pruntime/bin/enclave.signed.so ./standalone/pruntime/bin/Rocket.toml
    - name: Download core-blockchain binaries
      uses: actions/download-artifact@v2.0.10
      with:
        name: core-blockchain-binaries
        path: ./target/release
    - name: Download pruntime binaries
      uses: actions/download-artifact@v2.0.10
      with:
        name: pruntime-binaries
        path: ./standalone/pruntime/bin
   
    - name: Change permission
      run: chmod 777 ./target/release/phala-node ./target/release/pherry ./standalone/pruntime/bin/app ./standalone/pruntime/bin/enclave.signed.so ./standalone/pruntime/bin/Rocket.toml
    
    - name: Run E2E tests
      run: echo "/opt/intel/sgxsdk/lib64/" | sudo tee /etc/ld.so.conf.d/intel-libsgx.conf | sudo ldconfig && source /opt/intel/sgxsdk/environment && yarn set version berry && cd ./e2e/ && YARN_ENABLE_IMMUTABLE_INSTALLS=false yarn && yarn test
    needs: [build-core-blockchain, build-pruntime]
    
      
  cargo-tests:
    name: Run cargo tests
    runs-on: ubuntu-20.04
    steps:
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly-2021-05-11
          override: true
          target: wasm32-unknown-unknown
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: ./.github/actions/install_toolchain
    
    - name: Run cargo tests
      run: cargo test --verbose --workspace  --exclude node-executor --exclude phala-node
    
  
